.cache
.classpath
.idea
.metadata
.settings
.project
.version.properties
target
tmp
*.class
*.iml
*.swp
*.jar
*.log

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties